.initBtn {
  color : #1976d2;
  background-color: #E9ECF6;
  border-radius: 10px;
  position : absolute;
  top : 10px;
  right : 10px;
  border : none;
  cursor: pointer;
}
.backDiv{
  background-color : #F4F5FC;
  width : 100%;
  padding : 30px;
  display : flex;
  border-radius : 10px;
  position : relative;
}
a{
  text-decoration: none;
}